<h1>Dordie.me</h1>
<p>
This is the homepage for the <a href="https://github.com/ordiedordie/sample_app">Dordie on Rails github tutorial</a> sample application.
</p>
</body>
<!--<input type="text">--> 

<%= link_to "Sign Up!", signup_path, :class=>  "btn btn-primary btn-large"  %>
