<footer>
	<ul class="nav nav-pills">
	  <li class="active">
		<li><%= link_to "About", about_path %></li>
		<li><%= link_to "Contact", contact_path %></li>
		<li><%= link_to "Github", 'https://github.com/ordiedordie' %></li>
	</ul>
</footer>