<header>
	<!--<%= image_tag("rails.png", :alt =>"Sample App", :class =>"round")%>-->
	<ul class="nav nav-pills">
			<li class="active"><%= link_to "Home", root_path %></li>
			<li><%= link_to "Help", help_path %></li>
			<li><%= link_to "Sign in", signup_path %></li>					
	</ul>
</header>